@mixin respond($breakpoint) {
  @if $breakpoint == medium {
    @media (max-width: 768px) { @content };
  }
  @if $breakpoint == small {
    @media (max-width: 426px) { @content };
  }
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("../IMAGENES/fondo1280.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

    @include respond(small) {
      background-image: none;
      height: 20rem;
      

  }
  }
  
  .mainfrase{
    font-family: Montserrat, sans-serif;
      font-size: 20px;
      display: flex;
      color: #FFFFFF;
      p{
        position: absolute;
      text-align: left;
      margin: 8rem;
      width: 40%;
      }
      @include respond(small) {
        display: none;
        
  
    }
      
  }
  
  
  /*Productos mas elegidos*/
  .Elegidos{
  
      font-family:Montserrat, sans-serif;
      h2{
        font-size: 2.5rem;
        margin: 2rem;
        color: #000000;
        padding: 1rem;
        text-align: center;       
    }
  }
  .Cupcakeselegidos {
      font-size: 16px;
      height: 400px;
      display: flex;
      justify-content: center;

      @include respond(small) {
        flex-direction: column;
        height: auto; }

      div{
        padding: 2rem 2rem 2rem 2rem;
      background: #F8F8F6;
      margin: 2rem 2rem 2rem 2rem;
      overflow: hidden;
      border-radius: 2rem;
    
      div:hover{
        transform: scale(1.1);}
    } 
  }

  /*Arma tu box*/
  
  h2{
      font-family:Montserrat, sans-serif;  
      font-size: 2.5rem;
      color: #000000;
      padding: 1rem;
      text-align: center; 
      }

.seleccajas{
      display: flex;
      font-family:Montserrat, sans-serif;
      font-size: 4rem;
      justify-content: center;
      button{
            border: black solid;
            border-radius: 0.6rem;
        padding: 4rem 4rem 4rem 4rem;
        margin: 2rem 2rem 2rem 2rem;
        background-color: white;
        font-family:Montserrat, sans-serif;
        font-size: 2rem;
        @include respond(small) {
          padding: 2rem 2rem 2rem 2rem;
          font-size: 1rem; }

        }
      button:hover{
        background-color:lightgrey;

      }
    
    }

  .armatubox{
    margin: 2rem 18rem 10rem 18rem;
    @include respond(small) {
      margin: 2rem 2rem 2rem 2rem;
     
      
  }
  }
  

  