.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("../IMAGENES/fondo1280.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .mainfrase{
    font-family: Montserrat, sans-serif;
      font-size: 20px;
      display: flex;
      color: #FFFFFF;
      p{
        position: absolute;
      text-align: left;
      margin: 8rem;
      width: 40%;
      }
      
  }
  
  
  /*Productos mas elegidos*/
  .Elegidos{
  
      font-family:Montserrat, sans-serif;
      h2{
        font-size: 2.5rem;
        margin: 2rem;
        color: #000000;
        padding: 1rem;
        text-align: center;       
    }
  }
  .Cupcakeselegidos {
      font-size: 16px;
      height: 400px;
      display: flex;
      justify-content: center;

      div{
        padding: 2rem 2rem 2rem 2rem;
      background: #F8F8F6;
      margin: 2rem 2rem 2rem 2rem;
      overflow: hidden;
      border-radius: 2rem;
      }
      div:hover{
        transform: scale(1.1);
      }
      
  }

  /*Arma tu box*/
  .Opcionboxes{
      font-family:Montserrat, sans-serif;
      h2{
        font-size: 2.5rem;
      margin: 2rem;
      color: #000000;
      padding: 1rem;
      text-align: center; 
      }
  }

  .Boxes{
      font-size: 16px;
      height: 400px;
      display: flex;
      justify-content: center;
      background:#F8F8F6;
      margin: 2rem 18rem 10rem 18rem;
  }
  .boxes__6{
     justify-content: flex-start;
     padding: 2rem 2rem 2rem 2rem;
      margin: 2rem 2rem 2rem 2rem;
      
  }
  .boxes__12{
    justify-content: flex-end;
    padding: 2rem 2rem 2rem 2rem;
      margin: 2rem 2rem 2rem 2rem;
  }
  