
.container{
  display: flex;
  align-items: center;
  margin-top: 2rem;
  background-color: pink;
  border-color:blue;
  border-radius: 10px;
  height: 350px;
  width: 520px;

}

@media{ max-width:425px;
  .container{
    flex-direction: column;
  }
  img{
    size: 50%;
  }
  
}