.seleccajas{
    display: flex;
    font-family:Montserrat, sans-serif;
    font-size: 2.5rem;
    justify-content: center;
    div{
        border: black solid;
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem 2rem 2rem 2rem;
    border-radius: 0.6rem;
    }

}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 2rem 2rem 2rem;
    font-family:Montserrat, sans-serif;
    div{
        margin: 2rem 2rem 2rem 2rem;
    }
    button{
        background-color: black;
        color: white;
        padding: 0.5rem;
        margin: 0.5rem;
        margin-left: 0rem;
        border-radius: 0.1rem;
    }
    button:hover{
        color:gray;
        transform: scale(1.1);
    }

}

